@use "../../responsive" as *;
.main {
  min-height: 100vh;
  background-color: black;
 
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include sm {
    display: none;
  }
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition:
    opacity 5s ease,
    transform 8s ease-out;
  transform: scale(1);
  @include sm {
    display: none;
  }
}

.slide.active {
  opacity: 0.4;
  transform: scale(1.1);
}


.mobile-slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.mobile-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition:
    opacity 5s ease,
    transform 8s ease-out;
  transform: scale(1);
}

.mobile-slide.active {
  opacity: 0.4;
  transform: scale(1.1);
}
