@use "../../responsive" as *;

.intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;

  @include sm {
    top: 30%;
    width: 100%;
    padding: 20px;

    @media (max-height: 667px) {
      top: 40%;
    }
  }
}
.intro span {
  color: #ff5a3c;
}
.greet {
  font-size: 24px;
  @include sm {
    font-size: 20px;
  }
}
.intro h1 {
  font-size: 70px;
  font-weight: 700;

  @include sm {
    font-size: 30px;
    @media (max-width: 375px) {
      font-size: 28px;
    }
    @media (max-width: 360px) {
      font-size: 24px;
    }
  }
  
}

.menu {
  position: relative;
  margin-top: 10px;
  display: grid;
  gap: 10px;
  justify-items: start;
  border: 1px solid #ffffff;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  border: 2px solid rgba(255, 255, 255, 0.2);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  color: white;

  @include sm {
    padding: 10px;
    margin-top: 14px;
  }
}
.menu button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;

  @include sm {
    font-size: 14px;
    padding: 10px 14px;
  }
}

.buy {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px 0 0 5px;
  transition: all 0.7s ease;
  border: none;
  margin-right: 3px;

  &:hover {
    background-color: #1877f2;
    color: white;
    scale: 1;
  }
  @include sm {
    &:active {
      background-color: #1877f2;
      color: white;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
.rent {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 5px 0;
  transition: all 0.7s ease;
  border: none;

  &:hover {
    background-color: #1877f2;
    color: white;
    scale: 1;
  }

  @include sm {
    &:active {
      background-color: #1877f2;
      color: white;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
